venv/
venv
.venv/
__pycache__/
*.parquet
config/pipeline_config.yaml
data/processed/
data/quarantine/
data/raw/
data/test
data/materials.json
data/test_schema.csv
data/test_schema2.csv
data/schema_validation_report*
data/cleaning_log*
test.ipynb